<section class="regervation_part section_padding">
    <div class="container">
        <div class="row">
            <div class="col-xl-5">
                <div class="section_tittle">
        
                    <h2>Add plat</h2>
                </div>
            </div>
        </div>
        <div class="site-section">
            <div class="container">
              <div class="row">
                <div class="col-lg-7">
                  <form #platForm="ngForm" (ngSubmit)="addPlat()">
                    <div class="form-group">
                      <input type="text" class="form-control" [(ngModel)]="plat.name" [ngModelOptions]="{standalone:true}"  placeholder="Name">
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" [(ngModel)]="plat.prix" [ngModelOptions]="{standalone:true}"  placeholder="Prix">
                    </div>

                      
                      <div class="form-group">
                        <input type="submit" class="btn btn-primary py-3 px-5" value="addplat">
                      </div>
                    
                    
                  </form>  
                </div>
              </div>
            </div>
          </div>   
         </div>
  </section>