<section class="regervation_part section_padding">
    <div class="container">
        <div class="row">
            <div class="col-xl-5">
                <div class="section_tittle">
        
                    <h2>Sign up</h2>
                </div>
            </div>
        </div>
        <div class="site-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <form [formGroup]="signupForm">
                            <div class="form-group">
                                <input type="text" class="form-control" formControlName="firstName" placeholder="firstName">
                            </div>
                            <div *ngIf="signupForm.controls['firstName'].invalid &&(
                        signupForm.controls['firstName'].touched||
                        signupForm.controls['firstName'].dirty) ">
        
                                <div *ngIf="signupForm.controls['firstName'].errors?.['required']">
                                    First name is required
                                </div>
                                <div *ngIf="signupForm.controls['firstName'].errors?.['minlength']">
                                    First name must have at least 3 chars
                                </div>
                            </div>
        
                            <div class="form-group">
                                <input type="text" class="form-control" formControlName="lastName" placeholder="lastName">
                            </div>
                            <div *ngIf="signupForm.controls['lastName'].invalid &&(
                                signupForm.controls['lastName'].touched||
                                signupForm.controls['lastName'].dirty) ">
                
                                        <div *ngIf="signupForm.controls['lastName'].errors?.['required']">
                                            Last name is required
                                        </div>
                                        <div *ngIf="signupForm.controls['lastName'].errors?.['minlength']">
                                            Last name must have at least 5 chars
                                        </div>
                                    </div>
        
                            <div class="form-group">
                                <input type="text" class="form-control" formControlName="email" placeholder="email">
                            </div>
                            <div *ngIf="signupForm.controls['email'].invalid &&(
                                signupForm.controls['email'].touched||
                                signupForm.controls['email'].dirty) ">
                
                                        <div *ngIf="signupForm.controls['email'].errors?.['required']">
                                            First name is required
                                        </div>
                                        <div *ngIf="signupForm.controls['email'].errors?.['email']">
                                            First name must have at least 3 chars
                                        </div>
                                    </div>
                            <div class="form-group">
                                <input type="Password" class="form-control" formControlName="password" placeholder="password">
                            </div>
                            <div *ngIf="signupForm.controls['password'].invalid &&(
                                signupForm.controls['password'].touched||
                                signupForm.controls['password'].dirty) ">
                
                                        <div *ngIf="signupForm.controls['password'].errors?.['required']">
                                            password is required
                                        </div>
                                        <div *ngIf="signupForm.controls['password'].errors?.['minlength']">
                                            First name must have at least 6 chars
                                        </div>
                                        <div *ngIf="signupForm.controls['password'].errors?.['maxlength']">
                                            First name must have at least 8 chars
                                        </div>
                                    </div>
                            <div class="form-group">
                                <input type="Password" class="form-control" formControlName="confirmPassword"
                                    placeholder="confirmPassword">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" formControlName="role"
                                    placeholder="role">
                            </div>
                            <div class="form-group">
                                <input type="submit" [disabled]="false" (click)="signup()" class="btn btn-primary py-3 px-5" value="Signup">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>